params{
    input="/home/sharada/test/test-datasets/fastq/*_{1,2}.fastq.gz"
    fasta = "/home/sharada/test/test-datasets/reference/chrI.fa"
    gtf = "/home/sharada/test/test-datasets/reference/chrI.gtf"
    transcriptome = null
    outdir = "/home/sharada/test/"
    save_qc_intermediates = true
    save_transcriptome = true
    run_qc = true
}
process{
  containerOptions = '-B /home/'
}

singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir='home/containers'
